In [4]:
import pandas as pd
import numpy as np
import os

## Load the Data

In [45]:
def load_data(data_dir, train=True):
    if train == True:
            data_dir = os.path.join(data_dir, "train")
    else:
            data_dir = os.path.join(data_dir, "test")

    data_id = []
    score = []
    review_l = []
    
    sentiments = ["pos", "neg"]
    for s in sentiments:
        path = os.path.join(data_dir, s)

        for file in os.listdir(path):
            data_id.append(file.split("_")[0])
            score.append(file.split("_")[1].split(".")[0])
            with open(os.path.join(path, file), encoding="utf-8") as f:
                review = f.read()
                review_l.append(str(review))
                
    df = pd.DataFrame()
    df["id"] = data_id
    df["score"] = score
    df["review"] = review_l
    
    return df

In [46]:
data_dir = "aclImdb/"
train_df = load_data(data_dir, train=True)
test_df = load_data(data_dir, train=False)
print(train_df.shape)
print(test_df.shape)

(25000, 3)
(25000, 3)

In [48]:
train_df.head(3)

      id score                                             review
0      0     9  Bromwell High is a cartoon comedy. It ran at t...
1  10000     8  Homelessness (or Houselessness as George Carli...
2  10001    10  Brilliant over-acting by Lesley Ann Warren. Be...

In [49]:
test_df.head(3)

      id score                                             review
0      0    10  I went and saw this movie last night after bei...
1  10000     7  Actor turned director Bill Paxton follows up h...
2  10001     9  As a recreational golfer with some knowledge o...